/* 
    Header-Font: font-family: 'Cedarville Cursive', cursive; 
    Text-Font: font-family: sans-serif
*/

* {
    box-sizing: border-box;
}

.clear {
    clear: both;
}

.icon-facebook, .icon-twitter, .icon-rss {
    font-size: 16px;
    width: 30px;
    height: 34px;
    background-color: white;
    color: black;
    border-radius: 50%;
    padding: 5px;
}

/* Header Start */

.header .inner {
    margin: 0 auto;
    padding: 0;
    width: 960px;
}

.header {
    background-color: black;
    height: 75px;
}

.logo {
    margin: 0 auto;
    padding-top: 7px;
    color: white;
    font-family: 'Cedarville Cursive';
    text-transform: capitalize;
    font-size: 34px;
}

.sr-only {
    display: none;
}

.top-nav .social-list {
    display: flex;
    justify-content: flex-end;
    margin-top: -48px;
}

.top-nav .so-list-item {
    padding-left: 10px;
    list-style-type: none;
}

@media (min-width: 762px) and (max-width: 991px) {
    .header .inner {
        height: 35px;
    }
    .header {
        height: 35px;
    }
    .logo {
        padding-top: 3px;
        font-size: 16px;
    }
    .top-nav .social-list {
        margin-right: 572px;
    }
    .top-nav .so-list-item {
        padding: 22px 4px;
    }
    .social-icon {
        width: 17px;
        height: 20px;
    }
}

.icon:hover {
    background-color: grey;
    cursor: pointer;
}

/* Header End */

/* Main Start */

.main .inner {
    margin: 0 auto;
    padding: 0;
    width: 960px;
}

.section1 {
    /* margin-top: -27px; */
    background: radial-gradient(#eb8ea1, #e9718a);
}

.section1 .inner {
    display: flex;
    flex-wrap: wrap;
}

@media (min-width: 762px) and (max-width: 991px) {
    .section1 .inner {
        display: inline;
    }
}

.block1 {
    width: 50%;
    color: white;
}

@media (min-width: 762px) and (max-width: 991px) {
    .block1 {
        display: inline-block;
        width: 50%;
    }
}

.block1 .sub-header {
    margin-top: 0px;
    margin-bottom: -5px;
    font-size: 34px;
}

@media (min-width: 762px) and (max-width: 991px) {
    .block1 .sub-header {
        display: inline;
        align-items: center;
        font-size: 16px;
    }
}

.block1-text {
    width: 93%;
}

@media (min-width: 762px) and (max-width: 991px) {
    .block1-text {
        /* padding-left: 20px; */
        width: 85%;
        font-size: calc(10px + (12 - 10) * ((100vw - 300px) / (1600 - 300)));
        text-align: center;
    }
}

.button {
    background-color: #3a3b3d;
    color: white;
    text-transform: capitalize;
    font-size: 14px;
    margin-right: 20px;
    padding: 10px;
    border-radius: 8px;
}

@media (min-width: 762px) and (max-width: 991px) {
    .button {
        /* margin: 0 110px 5px 125px; */
        padding: 2px;
    }
}

.button:hover {
    background-color: orangered;
    cursor: pointer;
}

.landing-img {
    /* display: flex; */
    width: 450px;
    margin-top: 15px;
}

@media (min-width: 762px) and (max-width: 991px) {
    .landing-img {
        width: 50%;
        height: 50%;
    }
}

.section2 {
    background-color: #f4f4f6;
}

.section2 .inner {
    display: flex;
    margin: 0 auto;
    /* padding: 25px; */
}

@media (min-width: 762px) and (max-width: 991px) {
    .section2 .inner {
        display: inline-block;
        text-align: center;
        width: 50%;
        font-size: calc(10px + (12 - 10) * ((100vw - 300px) / (1600 - 300)));
        padding-left: 30px;
    }
}

.block3, .block4, .block5 {
    padding: 15px;
}

.section3 .inner {
    display: flex;
    justify-content: space-around;
    width: 960px;
}

@media (min-width: 762px) and (max-width: 991px) {
    .block6 .sub-header {
        display: flex;
        justify-content: center;
        width: 65%;
    }
}

.products {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    /* justify-content: space-evenly; */
    /* width: 80%; */
    /* height: 300px; */
}

@media (min-width: 762px) and (max-width: 991px) {
    .products {
        width: 100%;
    }
}

.product {
    padding: 15px;
}

.search-icon {
    width: 250px;
}

@media (min-width: 762px) and (max-width: 991px) {
    .search-icon {
        /* width: 100%; */
        /* height: 100%; */
    }
}

.aside {
    margin: 0 auto;
    width: 75%;
}

.aside-text {
    padding-top: 19px;
}

.bold {
    font-weight: bold;
}

/* Main End */

/* Footer Start */

.footer {
    background-color: black;
    margin: 0;
    /* padding: 5px 0; */
    height: 75px;
}

.footer .inner {
    /* display: flex; */
    margin: 0 auto;
    padding: 0;
    width: 960px;
}

.colophon {
    color: white;
}

.colophon-text {
    padding-top: 28px;
}

.footer-nav .social-list {
    display: flex;
    justify-content: flex-end;
    margin-top: -45px;
}

.footer-nav .so-list-item {
    margin: 0;
    padding: 5px;
    list-style-type: none;
}